CREATE TABLE "Employees" (
    "EmployeeID" INTEGER NOT NULL,
    "LastName" NVARCHAR2(20) NOT NULL,
    "FirstName" NVARCHAR2(10) NOT NULL,
    "Title" NVARCHAR2(30) NULL,
    "TitleOfCourtesy" NVARCHAR2(25) NULL,
    "BirthDate" DATE NULL,
    "HireDate" DATE NULL,
    "Address" NVARCHAR2(60) NULL,
    "City" NVARCHAR2(15) NULL,
    "Region" NVARCHAR2(15) NULL,
    "PostalCode" NVARCHAR2(10) NULL,
    "Country" NVARCHAR2(15) NULL,
    "HomePhone" NVARCHAR2(24) NULL,
    "Extension" NVARCHAR2(4) NULL,
    "Photo" BLOB NULL,
    "Notes" CLOB NULL,
    "ReportsTo" INTEGER NULL,
    "PhotoPath" NVARCHAR2(255) NULL,
    CONSTRAINT "PK_Employees" PRIMARY KEY
    (
        "EmployeeID"
    ),
    CONSTRAINT "FK_Employees_Employees" FOREIGN KEY 
    (
        "ReportsTo"
    ) REFERENCES "Employees" (
        "EmployeeID"
    )
);

CREATE  INDEX "Emp_LastName" ON "Employees"("LastName");

CREATE  INDEX "Emp_PostalCode" ON "Employees"("PostalCode");


CREATE TABLE "Categories" (
    "CategoryID" INTEGER NOT NULL,
    "CategoryName" NVARCHAR2(15) NOT NULL,
    "Description" CLOB NULL,
    "Picture" BLOB NULL,
    CONSTRAINT "PK_Categories" PRIMARY KEY
    (
        "CategoryID"
    )
);

CREATE  INDEX "Cat_CategoryName" ON "Categories"("CategoryName");


CREATE TABLE "Customers" (
    "CustomerID" NCHAR(5) NOT NULL,
    "CompanyName" NVARCHAR2(40) NOT NULL,
    "ContactName" NVARCHAR2(30) NULL,
    "ContactTitle" NVARCHAR2(30) NULL,
    "Address" NVARCHAR2(60) NULL,
    "City" NVARCHAR2(15) NULL,
    "Region" NVARCHAR2(15) NULL,
    "PostalCode" NVARCHAR2(10) NULL,
    "Country" NVARCHAR2(15) NULL,
    "Phone" NVARCHAR2(24) NULL,
    "Fax" NVARCHAR2(24) NULL,
    CONSTRAINT "PK_Customers" PRIMARY KEY
    (
        "CustomerID"
    )
);

CREATE  INDEX "Cust_City" ON "Customers"("City");

CREATE  INDEX "Cust_CompanyName" ON "Customers"("CompanyName");

CREATE  INDEX "Cust_PostalCode" ON "Customers"("PostalCode");

CREATE  INDEX "Cust_Region" ON "Customers"("Region");


CREATE TABLE "Shippers" (
    "ShipperID" INTEGER NOT NULL,
    "CompanyName" NVARCHAR2(40) NOT NULL,
    "Phone" NVARCHAR2(24) NULL,
    CONSTRAINT "PK_Shippers" PRIMARY KEY
    (
        "ShipperID"
    )
);

CREATE TABLE "Suppliers" (
    "SupplierID" INTEGER NOT NULL,
    "CompanyName" NVARCHAR2(40) NOT NULL,
    "ContactName" NVARCHAR2(30) NULL,
    "ContactTitle" NVARCHAR2(30) NULL,
    "Address" NVARCHAR2(60) NULL,
    "City" NVARCHAR2(15) NULL,
    "Region" NVARCHAR2(15) NULL,
    "PostalCode" NVARCHAR2(10) NULL,
    "Country" NVARCHAR2(15) NULL,
    "Phone" NVARCHAR2(24) NULL,
    "Fax" NVARCHAR2(24) NULL,
    "HomePage" CLOB NULL,
    CONSTRAINT "PK_Suppliers" PRIMARY KEY
    (
        "SupplierID"
    )
);

CREATE  INDEX "Sup_CompanyName" ON "Suppliers"("CompanyName");

CREATE  INDEX "Sup_PostalCode" ON "Suppliers"("PostalCode");


CREATE TABLE "Orders" (
    "OrderID" INTEGER NOT NULL,
    "CustomerID" NCHAR(5) NULL,
    "EmployeeID" INTEGER NULL,
    "OrderDate" DATE NULL,
    "RequiredDate" DATE NULL,
    "ShippedDate" DATE NULL,
    "ShipVia" INTEGER NULL,
    "Freight" NUMBER(19,4) DEFAULT (0) NULL,
    "ShipName" NVARCHAR2(40) NULL,
    "ShipAddress" NVARCHAR2(60) NULL,
    "ShipCity" NVARCHAR2(15) NULL,
    "ShipRegion" NVARCHAR2(15) NULL,
    "ShipPostalCode" NVARCHAR2(10) NULL,
    "ShipCountry" NVARCHAR2(15) NULL,
    CONSTRAINT "PK_Orders" PRIMARY KEY
    (
        "OrderID"
    ),
    CONSTRAINT "FK_Orders_Customers" FOREIGN KEY 
    (
        "CustomerID"
    ) REFERENCES "Customers" (
        "CustomerID"
    ),
    CONSTRAINT "FK_Orders_Employees" FOREIGN KEY 
    (
        "EmployeeID"
    ) REFERENCES "Employees" (
        "EmployeeID"
    ),
    CONSTRAINT "FK_Orders_Shippers" FOREIGN KEY 
    (
        "ShipVia"
    ) REFERENCES "Shippers" (
        "ShipperID"
    )
);

CREATE  INDEX "Ord_CustomerID" ON "Orders"("CustomerID");

CREATE  INDEX "Ord_EmployeeID" ON "Orders"("EmployeeID");

CREATE  INDEX "Ord_OrderDate" ON "Orders"("OrderDate");

CREATE  INDEX "Ord_ShippedDate" ON "Orders"("ShippedDate");

CREATE  INDEX "Ord_ShippersOrders" ON "Orders"("ShipVia");

CREATE  INDEX "Ord_ShipPostalCode" ON "Orders"("ShipPostalCode");


CREATE TABLE "Products" (
    "ProductID" INTEGER NOT NULL,
    "ProductName" NVARCHAR2(40) NOT NULL,
    "SupplierID" INTEGER NULL,
    "CategoryID" INTEGER NULL,
    "QuantityPerUnit" NVARCHAR2(20) NULL,
    "UnitPrice" NUMBER(19,4) DEFAULT (0) NULL,
    "UnitsInStock" NUMBER(5) DEFAULT (0) NULL,
    "UnitsOnOrder" NUMBER(5) DEFAULT (0) NULL,
    "ReorderLevel" NUMBER(5) DEFAULT (0) NULL,
    "Discontinued" NUMBER(1) DEFAULT (0) NOT NULL,
    CONSTRAINT "PK_Products" PRIMARY KEY
    (
        "ProductID"
    ),
    CONSTRAINT "FK_Products_Categories" FOREIGN KEY 
    (
        "CategoryID"
    ) REFERENCES "Categories" (
        "CategoryID"
    ),
    CONSTRAINT "FK_Products_Suppliers" FOREIGN KEY 
    (
        "SupplierID"
    ) REFERENCES "Suppliers" (
        "SupplierID"
    ),
    CONSTRAINT "CK_Products_UnitPrice" CHECK ("UnitPrice" >= 0),
    CONSTRAINT "CK_ReorderLevel" CHECK ("ReorderLevel" >= 0),
    CONSTRAINT "CK_UnitsInStock" CHECK ("UnitsInStock" >= 0),
    CONSTRAINT "CK_UnitsOnOrder" CHECK ("UnitsOnOrder" >= 0)
);

CREATE  INDEX "Prod_CategoryID" ON "Products"("CategoryID");

CREATE  INDEX "Prod_ProductName" ON "Products"("ProductName");

CREATE  INDEX "Prod_SupplierID" ON "Products"("SupplierID");


CREATE TABLE "Order Details" (
    "OrderID" INTEGER NOT NULL,
    "ProductID" INTEGER NOT NULL,
    "UnitPrice" NUMBER(19,4) DEFAULT (0) NOT NULL,
    "Quantity" NUMBER(5) DEFAULT (1) NOT NULL,
    "Discount" FLOAT(23) DEFAULT (0) NOT NULL,
    CONSTRAINT "PK_Order_Details" PRIMARY KEY
    (
        "OrderID",
        "ProductID"
    ),
    CONSTRAINT "FK_Order_Details_Orders" FOREIGN KEY 
    (
        "OrderID"
    ) REFERENCES "Orders" (
        "OrderID"
    ),
    CONSTRAINT "FK_Order_Details_Products" FOREIGN KEY 
    (
        "ProductID"
    ) REFERENCES "Products" (
        "ProductID"
    ),
    CONSTRAINT "CK_Discount" CHECK ("Discount" >= 0 and ("Discount" <= 1)),
    CONSTRAINT "CK_Quantity" CHECK ("Quantity" > 0),
    CONSTRAINT "CK_UnitPrice" CHECK ("UnitPrice" >= 0)
);

CREATE  INDEX "Od_OrderID" ON "Order Details"("OrderID");

CREATE  INDEX "Od_ProductID" ON "Order Details"("ProductID");

SET DEFINE OFF;

INSERT INTO "Categories"("CategoryID","CategoryName","Description") VALUES (1,'Beverages','Soft drinks, coffees, teas, beers, and ales');
INSERT INTO "Categories"("CategoryID","CategoryName","Description") VALUES (2,'Condiments','Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO "Categories"("CategoryID","CategoryName","Description") VALUES (3,'Confections','Desserts, candies, and sweet breads');


INSERT INTO "Customers" VALUES ('ALFKI','Alfreds Futterkiste','Maria Anders','Sales Representative','Obere Str. 57','Berlin',NULL,'12209','Germany','030-0074321','030-0076545');
INSERT INTO "Customers" VALUES ('ANATR','Ana Trujillo Emparedados y helados','Ana Trujillo','Owner','Avda. de la Constitución 2222','México D.F.',NULL,'05021','Mexico','(5) 555-4729','(5) 555-3745');
INSERT INTO "Customers" VALUES ('ANTON','Antonio Moreno Taquería','Antonio Moreno','Owner','Mataderos  2312','México D.F.',NULL,'05023','Mexico','(5) 555-3932',NULL);




















INSERT INTO "Shippers"("ShipperID","CompanyName","Phone") VALUES (1,'Speedy Express','(503) 555-9831');
INSERT INTO "Shippers"("ShipperID","CompanyName","Phone") VALUES (2,'United Package','(503) 555-3199');
INSERT INTO "Shippers"("ShipperID","CompanyName","Phone") VALUES (3,'Federal Shipping','(503) 555-9931');

INSERT INTO "Orders"
("OrderID","CustomerID","EmployeeID","OrderDate","RequiredDate",
    "ShippedDate","ShipVia","Freight","ShipName","ShipAddress",
    "ShipCity","ShipRegion","ShipPostalCode","ShipCountry")
VALUES (10248,N'VINET',5,TO_DATE('7/4/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('8/1/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('7/16/1996', 'MM/DD/YYYY HH24:MI:SS'),3,32.38,
    N'Vins et alcools Chevalier',N'59 rue de l''Abbaye',N'Reims',
    NULL,N'51100',N'France');
INSERT INTO "Orders"
("OrderID","CustomerID","EmployeeID","OrderDate","RequiredDate",
    "ShippedDate","ShipVia","Freight","ShipName","ShipAddress",
    "ShipCity","ShipRegion","ShipPostalCode","ShipCountry")
VALUES (10249,N'TOMSP',6,TO_DATE('7/5/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('8/16/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('7/10/1996', 'MM/DD/YYYY HH24:MI:SS'),1,11.61,
    N'Toms Spezialitäten',N'Luisenstr. 48',N'Münster',
    NULL,N'44087',N'Germany');
INSERT INTO "Orders"
("OrderID","CustomerID","EmployeeID","OrderDate","RequiredDate",
    "ShippedDate","ShipVia","Freight","ShipName","ShipAddress",
    "ShipCity","ShipRegion","ShipPostalCode","ShipCountry")
VALUES (10250,N'HANAR',4,TO_DATE('7/8/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('8/5/1996', 'MM/DD/YYYY HH24:MI:SS'),TO_DATE('7/12/1996', 'MM/DD/YYYY HH24:MI:SS'),2,65.83,
    N'Hanari Carnes',N'Rua do Paço, 67',N'Rio de Janeiro',
    N'RJ',N'05454-876',N'Brazil');


INSERT INTO "Suppliers"("SupplierID","CompanyName","ContactName","ContactTitle","Address","City","Region","PostalCode","Country","Phone","Fax","HomePage") VALUES (1,'Exotic Liquids','Charlotte Cooper','Purchasing Manager','49 Gilbert St.','London',NULL,'EC1 4SD','UK','(171) 555-2222',NULL,NULL);
INSERT INTO "Suppliers"("SupplierID","CompanyName","ContactName","ContactTitle","Address","City","Region","PostalCode","Country","Phone","Fax","HomePage") VALUES (2,'New Orleans Cajun Delights','Shelley Burke','Order Administrator','P.O. Box 78934','New Orleans','LA','70117','USA','(100) 555-4822',NULL,'#CAJUN.HTM#');
INSERT INTO "Suppliers"("SupplierID","CompanyName","ContactName","ContactTitle","Address","City","Region","PostalCode","Country","Phone","Fax","HomePage") VALUES (3,'Grandma Kelly''s Homestead','Regina Murphy','Sales Representative','707 Oxford Rd.','Ann Arbor','MI','48104','USA','(313) 555-5735','(313) 555-3349',NULL);




INSERT INTO "Products"("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES (1,'Chai',1,1,'10 boxes x 20 bags',18,39,0,10,0);
INSERT INTO "Products"("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES (2,'Chang',1,1,'24 - 12 oz bottles',19,17,40,25,0);
INSERT INTO "Products"("ProductID","ProductName","SupplierID","CategoryID","QuantityPerUnit","UnitPrice","UnitsInStock","UnitsOnOrder","ReorderLevel","Discontinued") VALUES (3,'Aniseed Syrup',1,2,'12 - 550 ml bottles',10,13,70,25,0);








INSERT INTO "Order Details" VALUES (10248,11,14,12,0);
INSERT INTO "Order Details" VALUES (10248,42,9.8,10,0);
INSERT INTO "Order Details" VALUES (10248,72,34.8,5,0);
























































































































































































































